.bin
.lock
.classpath
.project
*.iml
**/*.iml
.settings/
bin/
libs/
gen/
.idea/
.idea/libraries/*.xml
.gitignore
.project.properties
.externalNativeBuild/
tests/stress/gen/
local.properties
gradle/
.gradle/
build/
gradlew*
